/*
Color scheme
base 00: #1B2B34
base 01: #343D46
base 02: #4F5B66
base 03: #65737E
base 04: #A7ADBA
base 05: #C0C5CE
base 06: #CDD3DE
base 07: #D8DEE9
base 08: #EC5f67
base 09: #F99157
base 0A: #FAC863
base 0B: #99C794
base 0C: #5FB3B3
base 0D: #6699CC
base 0E: #C594C5
base 0F: #AB7967
*/

body {
  color: #1B2B34; /* base 00 */
  position: relative;
}

h2 {
  margin-top: 32px;
  margin-bottom: 16px;
}

h4 {
  margin-top: 20px;
}

.navbar-text {
  font-size: 18px;
  line-height: 20px;
  margin-left: 0;
}

@media (max-width:767px) {
  .navbar-text {
    margin-left: 15px;
    font-size: 16px;
    line-height: inherit;
  }
}

.navbar-toggle i {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.navbar-inverse .navbar-nav >.active>a,.navbar-inverse .navbar-nav >.active>a:focus {
  color: #EC5f67; /* base 08 */
}
.navbar-nav a:before  {
  content: '<';
}

.navbar-nav a:after  {
  content: ' />';
}
.navbar-nav .active a:before,.navbar-nav .active a:after
{
  color: #5FB3B3; /* base 0C */
}

#intro {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(95,179,179,0.7); /* base 0C with opacity*/
}

@media (max-width: 991px) {
  #intro {
    padding-top: 25px;
    padding-bottom: 0;
  }
}


@media (min-width: 768px) {
  .intro-message {
    padding-top: 15px;
    font-size: 20px;
  }
}

.code-editor {
  background-color: #1B2B34; /* base 00 */
  font-size: 16px;
  color: #CDD3DE; /* base 06 */
  font-family: Monospace;
}

@media (max-width: 991px) {
  .code-editor {
    font-size: 14px;
    margin-left: -15px;
  }

  .code-editor .panel-body {
    padding-left: 10px;
  }
}

@media (max-width: 767px) {
  .code-editor {
    margin-right: -15px;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
  }
  .code-editor .panel-body {
    padding-left: 15px;
  }
}



.code-editor a {
  text-decoration: underline;
}

.code-editor a:hover {
  text-decoration: none;
}

.code-line.indent1 {
  padding-left: 1em;
}

.code-editor .function {
  color: #99C794; /* base 0B*/
}

#portfolio {
  margin-bottom: -20px;
}

.thumbnail .caption h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
}

.thumbnail .caption .list-inline {
  margin-left: 0;
}


#contact {
  margin-bottom: 50px;
}

.contacts-container .lead {
  margin-bottom: 8px;
}

.example {
  font-weight: bold;
}

.email {
  font-size: 16px;
  line-height: 32px;
}

.socials {
  padding: 0;
  font-size: 24px;
  line-height: 32px;
}

.or-delimeter {
  text-align: center;
  border: 1px solid #C0C5CE;
}
.or-delimeter:after {
  content: 'or';
  font-size: 20px;
  font-weight: 200;
  line-height: 24px;
  display: inline-block;
  padding: 0 8px;
  background-color: #fff;
  text-align: center;
  position: relative;
  top: -16px;
}

@media (max-width: 767px) {
  #contact {
    margin-bottom: 25px;
  }

  .email {
    font-size: 14px;
    line-height: 28px;
  }

  .socials {
    font-size: 20px;
    line-height: 28px;
  }
  .or-delimeter {
    border-bottom: none;
  }
  .or-delimeter:after {
    font-size: 16px;
    line-height: 20px;
    top: -12px;
  }
}

footer {
  background-color: #222;
  color: #9d9d9d;
  text-align: center;
  min-height: 50px;
  margin-top: 20px;
}

footer p {
  margin: 0;
  padding: 15px 0;
  line-height: 30px;
}

@media (max-width: 767px) {
  footer p {
    font-size: 12px;
    line-height: 18px;
  }
}
